<!DOCTYPE xml>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss:SSS} %-5level %logger{36}: %msg%n"/>
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="com.algaworks.brewer.controller" level="info"/>
		<!-- Log Simplificado -->
		<Logger name="org.hibernate.SQL" level="debug"/>
		<!-- Log Completo 
		<Logger name="org.hibernate" level="debug"/> -->
	    <Root level="info">
	    	<AppenderRef ref="Console" />
	    </Root>
    </Loggers>
</Configuration>
<!-- 
https://logging.apache.org/log4j/2.x/manual/customloglevels.html
Standard Level	intLevel
OFF	    0
FATAL	100
ERROR	200
WARN	300
INFO	400
DEBUG	500
TRACE	600
ALL	    Integer.MAX_VALUE
 -->