<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      lang="pt-BR"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/LayoutPadrao}"
      xmlns:brewer="http://localhost.brewer">
      
	<head>
		<meta charset="UTF-8">
		<title>Pesquisa de Cliente</title>
	</head>
	
	<body>
		<section  layout:fragment="cadastroCerveja-conteudo">
			<div class="page-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-10">
							<h1>
								<strong>Pesquisa de cliente</strong>
							</h1>
						</div>
						<div class="col-sm-2">
							<div class="aw-page-header-controls">
								<a class="btn btn-default" th:href="@{/cliente/novo}">
									<i class="glyphicon glyphicon-plus-sign"></i> 
									<span class="hidden-xs hidden-sm">Novo cliente</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>		
			
			<div class="container-fluid">
				<form method="get" th:object="${clienteFilter}"  >
					<div class="row form-group">
						<div class="col-sm-8">
							<label class="control-label" for="nome">Nome</label>          <!-- Fazendo bind do html para o Controller -->
							<input type="text" class="form-control" id="nome" autofocus="autofocus"  th:field="*{nome}"  />
						</div>
						<div class="col-sm-4">
							<label class="control-label" for="cpfCnpj">CPF/CNPJ</label>          <!-- Fazendo bind do html para o Controller -->
							<input type="text" class="form-control" id="cpfCnpj" th:field="*{cpfCnpj}"  />
						</div>						
					</div>
					<div class="row">
						<div class="form-group  col-sm-12">
							<button type="submit" class="btn  btn-primary">Pesquisar</button>
						</div>
					</div>
				</form>
				
				<table class="table table-hover bw-tabela-simples">
					<thead>
						<tr>
							<th class="table-clientes-col-nome">
								 <!--<span>Nome</span>  Adicionando componente de paginação -->
								<brewer:order page="${pagina}" field="nome" text="Nome" /> 
							</th>
							<th class="table-clientes-col-tipo-pessoa">
								<brewer:order page="${pagina}" field="tipoPessoa" text="Tipo Pessoa" /> 
							</th>
							<th class="table-clientes-col-cpf-cnpj">
								<span>CPF/CNPJ</span> 
							</th>
							<th class="table-clientes-col-telefone">
								<span>Telefone</span> 
							</th>
							<th class="table-clientes-col-cidade-estado">
								<span>Cidade/Estado</span>
							</th>
							<th class="table-estilo-col-acoes"></th>
						</tr>
					</thead>
					<tbody>
					    <tr th:each="cliente : ${pagina.conteudo}">
							<td class="text-rigth" th:text="${cliente.nome}" ></td>
							<td class="text-rigth" th:text="${cliente.tipoPessoa}" ></td>
							<td class="text-rigth" th:text="${cliente.cpfCnpj}" ></td>
							<!-- <td class="text-rigth" th:text="|${cliente.endereco.cidade.nome}/${cliente.endereco.cidade.estado.nome}|"></td> -->
							<td class="text-rigth" th:text="${cliente.telefone}" ></td>
							<td class="text-rigth" th:text="${cliente.endereco.nomeCidadeSiglaEstado}"></td>
							<td class="text-center">
								<a class="btn  btn-link  btn-xs" title="Editar" 
								            th:href="@{/cliente/{codigo}(codigo=${cliente.codigo})}">
							    	<i class="glyphicon glyphicon-pencil"></i>
							  	</a>
								<a class="btn  btn-link  btn-xs  js-exclusao-btn" title="Excluir"
									data:url="@{/cliente/{codigo}(codigo=${cliente.codigo})}"
									data:objeto="${cliente.nome}">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
                        </tr>
						<tr th:if="${#lists.isEmpty( pagina.conteudo )}">
							<td colspan="3">Nenhum cliente cadastrado!</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<!-- Incluindo a paginação -->
			<brewer:pagination page="${pagina}" />
		</section>
	</body>
</html>